
<div class="erro">
  <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>

</div>
<div class="centralizar">

    <div class="grid">

        <div class="components">
          <app-mensagens *ngIf="usuarioLogin.nickname.length == 0 && campoLogin.touched" mensagem="Login e Senha Obrigatório"></app-mensagens>
            <label for="login">Login</label>
            <input type="text"  [(ngModel)]="usuarioLogin.nickname" #campoLogin="ngModel"  placeholder="Informe seu Login" pInputText />

            <label for="senha">Senha</label>
            <input type="password" required #campoSenha="ngModel"  [(ngModel)]="usuarioLogin.senha" placeholder="Informe sua Senha" pInputText />

            <p-button  label="Entrar"(keyup.enter)="login()" (onClick)="login();recebe(usuarioLogin.nickname)" aria-required="true"[disabled]="usuarioLogin.senha.length == 0" iconPos="left"></p-button>
        </div>
    </div>
</div>
