
<div class="centralizar">
    <div class="grid">
        <div class="components">
            <label for="login">Login</label>
            <input type="text"  [(ngModel)]="usuarioLogin.login" placeholder="Informe seu Login" pInputText />
            <label for="senha" >Senha</label>
            <input type="password"  [(ngModel)]="usuarioLogin.senha" placeholder="Informe sua Senha" pInputText />
            <p-button label="Entrar" (onClick)="login()" aria-required="true" iconPos="left"></p-button>

        </div>
    </div>

</div>