
<p-table  [value]="carros" responsiveLayout="scroll"  >
    <ng-template class="css2" pTemplate="header">
       
        <tr  class="css2">
            <th>Id</th>
            <th>Nome</th>
            <th>Velocidade</th>
            <th>Aceleração</th>
            <th>Carro</th>
            <th>Preço</th>
            <th>Comprar</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-jogador   >
        <tr>
            <td>{{jogador.id}}</td>
            <td>{{jogador.nome}}</td>
            <td>{{jogador.velocidade}}</td>
            <td>{{jogador.aceleracao}}</td>
            <td><img width="50px" [src]="jogador.foto" class="click" (click)="toggle(jogador)" alt="Carro"></td>
            <td>{{jogador.preco | currency:'BRL'}}</td>
            <td><button pButton type="button" icon="pi pi-shopping-cart" (click)="alterar()" iconPos="left"></button></td>
        </tr>
    </ng-template>
   
</p-table>
<!-- <button (click)="toggle()">
    Mostrar modal
  </button>
   -->
  <ng-container  *ngIf="mostrar && carroSelecionado">
    <div class="modal">
        <span>{{carroSelecionado.id}}</span>
        <img width="50px" [src]="carroSelecionado.foto" alt="Carro">    
    </div>
    <div (click)="toggle(undefined)"
         class="overlay"></div>
  </ng-container>