
<p-table [value]="carros" responsiveLayout="scroll"  >
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Velocidade</th>
            <th>Aceleração</th>
            <th>Carro</th>
            <th>Preço</th>
            <th>Comprar</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-jogador   >
        <tr>
            <td>{{jogador.id}}</td>
            <td>{{jogador.nome}}</td>
            <td>{{jogador.velocidade}}</td>
            <td>{{jogador.aceleracao}}</td>
            <td><img width="50px" [src]="jogador.foto" alt=""></td>
            <td>{{jogador.preco | currency:'BRL'}}</td>
            <td><button pButton type="button" icon="pi pi-shopping-cart" (click)="alterar()" iconPos="left"></button></td>
        </tr>
    </ng-template>
   
  
</p-table>
