:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


 :host ::ng-deep 
   .p-tabmenu .p-tabmenu-nav{
    background: #161d21;
  
}
 


:host ::ng-deep
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
  background: #161d21;
 
}



.junta{
height: 66px;}

.junta span{
  left: 900px;
  top: -55px;
  position: relative;
}
/*63*/